<h1 class="animated fadeIn fast">Sobre Heroes</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id architecto dolorem error quae dolorum! Nihil dignissimos a cumque nobis, est molestiae doloremque quaerat, inventore odit, quod commodi aspernatur labore modi.
</p>