<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">Hero App</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, dicta magni laboriosam nostrum, reiciendis enim blanditiis, aut quaerat explicabo sed quisquam repudiandae quidem! Totam nostrum pariatur earum neque animi voluptatibus.</p>
    </div>
</div>