<h1>Héroes <small>Marvel y DC</small></h1>
<hr>
<div *ngIf="termino" class="alert alert-secondary" role="alert">
    Buscar por: ...{{ termino }}...
</div>

<div class="row" *ngIf="heroes.length === 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados para el término: {{ termino }}
        </div>
    </div>
</div>
<div class="card-columns">
    <app-heroe-card (heroeSeleccionado)="verHeroe( $event )" [heroe]="heroe" [nombre]="heroe.nombre" *ngFor="let heroe of heroes; let i = index"></app-heroe-card>
</div>
