<h1 class="animated fadeIn fast">{{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date: 'y' }})</small></h1>
<hr>

<div class="card mb-3 animated fadeIn" style="width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="heroe.img" class="card-img" [alt]="heroe.nombre">
            <a [routerLink]="['/heroes', '']" class="btn btn-outline-danger btn-block">Regresar</a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ heroe.nombre }}</h5>
                <hr>
                <p class="card-text">{{ heroe.bio }}</p>
                <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
                <div>
                    <img *ngIf="heroe.casa=='Marvel'" class="img-logo" src="assets/img/Marvel.png" alt="Marvel">
                    <img *ngIf="heroe.casa=='DC'" class="img-logo" src="assets/img/DC.png" alt="DC">
                </div>
            </div>
        </div>
    </div>